.label-name.hide {
  display: none;
}

.App.dark {
  background-color: rgb(33, 36, 40);
  color: #fff;
}

.dark a {
  color: #fff;
}

.light a {
  color: #000;
}

.post-details a,
.related-story a,
.footer-nav a {
  background-color: transparent;
  box-shadow: inset 0 -8px rgba(0, 128, 0, 0.404);
  transition: box-shadow 200ms;
  padding: 2px 0;
}

.post-details a:hover,
.related-story a:hover,
.footer-nav a:hover {
  box-shadow: inset 0 -25px rgba(0, 185, 0, 0.39);
}

a.no-highlight,
a.no-highlight:hover,
.related-story a.no-highlight:hover {
  box-shadow: none;
}
