.post-tags {
  width: 50%;
  margin: 100px auto;
}

.tags-container {
  text-align: center;
}

.tag {
  display: inline-block;
  padding: 7px 15px;
  margin: 5px;
  box-shadow:
    0 3px rgb(206, 206, 206),
    3px 0 rgb(206, 206, 206),
    0 -3px rgb(206, 206, 206),
    -3px 0 rgb(206, 206, 206);
}

.tag:hover {
  box-shadow:
    0 3px  rgb(0, 187, 0),
    3px 0  rgb(0, 187, 0),
    0 -3px  rgb(0, 187, 0),
    -3px 0  rgb(0, 187, 0);
}

.light .tag:hover {
  background-color: rgb(0, 255, 0);
}
